body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    font: 800 50px Serif;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 800 80px Serif;
    margin-bottom: 20px;
}

#table-container table {
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
    background-color: rgb(232, 232, 232);
    text-align: center;
    font: 800 40px Serif;
    /* line-height: 100px; */
}

td div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    font-size: 21px;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

#legend-container {
    display: flex;
    justify-content: stretch;
    /* text-align: center; */
}

#legend-table {
    width: 100%;
    margin: 10px;
}

.rank {
    font: 800 20px Serif;
}

#legend-table td {
    font-size: 40px;
}

#help {
    justify-content: space-evenly;
    align-items: flex-start;
    font: 600 25px Serif;
    border: hidden;
}


